* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/images/background.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 30% !important;
  background-color: transparent;
  padding: 4rem;
  border-radius: 20px;
  position: absolute;
  top: 130px;
  left: 35%;
}

.btn-primary {
  width: 60%;
  border-radius: 10px;
}

.btn-success {
  width: 80%;
  border-radius: 10px;
}

.form-control {
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 4px 4px 0 0;
}

.color-signup-email {
  color: #000 !important;
}

.color-signup-password {
  color: #fff;
}

h4 {
  font-size: 2rem !important;
  font-weight: 700;
}

.form-label {
  font-weight: 700 !important;
}

p,
a {
  color: #fff;
}
a:hover {
  color: #01fc22;
}

@media only screen and (max-width: 830px) {
  form {
    width: 100% !important;
    left: 0 !important;
  }
}
