* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(186, 186, 186, 1) 31%,
    rgba(125, 125, 125, 1) 48%,
    rgba(61, 61, 61, 1) 79%
  );

  font-family: "Poppins", sans-serif;
}

form {
  width: 450px;
  background-color: #fff;
  padding: 4rem;
  border-radius: 20px;
  margin-top: 150px;
}

.btn-outline-primary {
  width: 100%;
  border-radius: 50px;
}

.btn-outline-success {
  width: 100%;
  border-radius: 50px;
}

.form-control {
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 4px 4px 0 0;
}

h4 {
  font-size: 2rem !important;
  font-weight: 700;
}

.form-label {
  font-weight: 700 !important;
}

@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(186, 186, 186, 1) 31%,
      rgba(125, 125, 125, 1) 48%,
      rgba(61, 61, 61, 1) 79%
    );
  }

  form {
    width: 100%;
  }
}
