<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap-grid.min.css"
      integrity="sha512-ZuRTqfQ3jNAKvJskDAU/hxbX1w25g41bANOVd1Co6GahIe2XjM6uVZ9dh0Nt3KFCOA061amfF2VeL60aJXdwwQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style/index.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container main">
        <div class="row">
          <div class="col-md side-image">
            <!-- Image -->
           
            <div class="text">
              <p>Copyright &copy; <i>Vinicius Pereira</i></p>
            </div>
          </div>
          <div class="col-md-6 rigth">
            <div class="input-box">
              <header>Login</header>

              <div class="input-field">
                <label for="email">Email</label>

                <input
                  type="text"
                  class="input"
                  name=""
                  id="email"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="input-field">
                <label for="password">Senha</label>

                <input
                  type="password"
                  class="input"
                  name=""
                  id="password"
                  required
                />
              </div>
              <div class="input-field">
                <input type="submit" class="submit" value="Cadastrar-se" />
              </div>
              <div class="signin">
                <span>Você possui uma conta? <a href="#">Entrar</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
      integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
