<%- include('./layouts/header.ejs') %>

<div class="container-fluid">
  <div class="wrapper"></div>
  <form action="/login" method="post" class="mx-auto">
    <h4 class="text-center">Login</h4>
    <% if (message) { %>
    <div
      class="alert text-center alert-dismissible fade show alert-<%= message.type %> mt-2"
      role="alert"
    >
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
      <strong><%= message.message %></strong>
    </div>
    <% } %>
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        name="email"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        required
      />
      <p id="emailHelp" class="form-text mt-3">
        Não possui uma conta? <a href="/signup">Cadastrar-se</a>
      </p>
    </div>

    <button type="submit" class="btn btn-outline-primary mt-3">Entrar</button>
  </form>
</div>

<%- include('./layouts/footer.ejs') %>
