<%- include('./layouts/header.ejs') %>

<div class="container-fluid">
  <form class="mx-auto">
    <h4 class="text-center">Cadastrar-se</h4>
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Confirmar senha</label
      >
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">
      Cadastrar-se
    </button>
  </form>
</div>

<%- include('./layouts/footer.ejs') %>
