<%- include('./layouts/header.ejs') %>

<div class="container-fluid">
  <form action="/signup" method="post" class="mx-auto">
    <h4 class="text-center">Cadastrar-se</h4>
    <% if (message) { %>
    <div
      class="alert alert-dismissible fade show alert-<%= message.type %> mt-2"
      role="alert"
    >
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
      <strong><%= message.message %></strong>
    </div>
    <% } %>
    <div class="mb-3 mt-4">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar senha</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">
      Cadastrar-se
    </button>
  </form>
</div>

<%- include('./layouts/footer.ejs') %>
